<h1>This my new home page for the Alpha blog application</h1>

<h2>Welcome to World of amazing blogs</h2>

<h3>Creating articles should not be hard</h3>

<%= link_to "Create Article", new_article_path %>

<%= link_to "Article Index", articles_path %> 